<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shop</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/footersColor.js"></script>


    @RenderSection("script", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="font-family:Alamain; font-size:x-large;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SHOP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a id="main" href='@Url.Action("Index")'>
                    <img src="~/Content/icons/Attire_Boobs.png" style="max-height: 50px"/>                    
                </a>
                <span class="myTooltip"><a href="~/Content/icons/Attire_Boobs.psd" download>Download logo</a></span>
            </div>
            <div class="navbar-collapse collapse" style="margin-top:10px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Main", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("New Gallery", "NewGallery", "Home")</li>
                    <li>@Html.ActionLink("Load Image", "LoadImage", "Home")</li>
                    <li>@Html.ActionLink("List Image", "ListImage", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div>
        <a href="/Home/AddView">View</a>
        <a href="/Home/Index">Index</a>
        <a href="/Home/Gallery">Gallery</a>
        <a href="/Home/ListImage">List Image</a>
    </div>*@

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container footer-content">
        <hr />
        <footer>
            <p id="footer">&copy; @DateTime.Now.Year - Никита Ясонов. Первый после Бога.<input id="inputColor" type="color" /> </p>
        </footer>
    </div>
   
</body>
</html>